.sign-up-box
  .logo
    = link_to root_path do
      = image_tag("TOURON_logo-cutout.png", class:"top__image__1__photo",size:"400x90")
  .sign-up-box__container
    .form-sign-up
      = form_with model: @user, url: user_registration_path, id: "new_user", class: "new_user", local: true do |f|
        %h2 サインイン

        .fields
          = render 'layouts/error_messages', errors: @user.errors.full_messages_for(:username), class: "error"
          = f.text_field :username, placeholder: "ユーザーネーム"
        .fields
          = render 'layouts/error_messages', errors: @user.errors.full_messages_for(:email)
          = f.email_field :email, placeholder: "メール"
        .fields
          = render 'layouts/error_messages', errors: @user.errors.full_messages_for(:password)
          = f.password_field :password, placeholder: "パスワード"
        .fields
          = f.password_field :password_confirmation, placeholder: "確認用パスワード"
        .fields-submit
          = f.label :パスワードを記録する
          = f.check_box :remember_me
          = f.submit "サインイン", class: "sign-up-submit"
      .link-box
        .link-top
          %span 既存ユーザーですか？  ログインは
          = link_to "こちら", new_user_session_path
          %span から
      