= form_with model:[@room, @talk] ,class:"from", id: "new-talk_post", local: true do |f|
  .message-footer
    .message-footer-area

      -# ボタンエリア
      .message-footer-area-btn
      
        -# タブスイッチ
        .message-footer-area-btn-tabs
          .agree.tabs-swicth-sbmit.tabs-swith-tbjs agree
          .oposition.tabs-swicth-sbmit oposition

        -# ボタン
        .message-footer-area-btn-submit
          = f.label :image, class: 'file_area' do
            = f.file_field :image, class: 'clip'
          = f.submit "送信", class: "from-btn-submit"

      .message-footer-area-box
        = f.text_area :text, class:"talks-message agree-area"
        = f.text_field :status_id, value: 1, class: "display-hidden"


= form_with model:[@room, @talk],class:"from", id: "new-talk_post content-remove", local: true do |f|
  .message-footer2.content-remove
    .message-footer-area

      -# ボタンエリア
      .message-footer-area-btn
      
        -# タブスイッチ
        .message-footer-area-btn-tabs
          .agree.tabs-swicth-sbmit agree
          .oposition.tabs-swicth-sbmit oposition

        -# ボタン
        .message-footer-area-btn-submit
          = f.label :image, class: 'file_area' do
            = f.file_field :image, class: 'clip'
          = f.submit "送信", class: "from-btn-submit submit"

      .message-footer-area-box
        = f.text_area :text, class:"talks-message oposition-area"
        = f.text_field :status_id, value: 2, class: "display-hidden"



-# .message-footer
-#   .message-footer-area
-#     = form_with model:[@room, @talk], class:"from", id: "new-talk_post" do |f|
-#       .from-btn
-#         .from-btn-sutamp
-#         = link_to root_path do
-#           = icon('far fa-smile fa-2x', class: 'icon')
-#         = f.label :image, class: 'clip' do
-#           = icon('fas fa-paperclip fa-2x', class: 'icon')
-#           = f.file_field :image, class: 'clip'
-#         = f.submit "送信", class: "from-btn-submit"

-#       .cp_tab
-#         %input#tab3_1{"aria-controls" => "first_tab03", :checked => "checked", :name => "cp_tab", :type => "radio", :onclick => "onClickMenu(1)"}/
-#         %label{:for => "tab3_1", id: "A"} Agree
-#         %input#tab3_2{"aria-controls" => "second_tab03", :name => "cp_tab", :type => "radio", :onclick => "onClickMenu(2)"}/
-#         %label{:for => "tab3_2", id: "O"} Oposition
        -# = f.radio_button :status_id,"1",id:"box1", checked: "checked"
        -# = f.radio_button :status_id,"2",id:"box2"
-#         .cp_tabpanels
-#           #first_tab03.cp_tabpanel
-#             = f.text_area :text, class:"tab-content"
-#           #second_tab03.cp_tabpanel
-#             = f.text_area :text, class:"tab-content2"

