.a

-# 投稿フォーム
.message-footer
  .message-footer-area
    = form_with model:@talk, local:true, class:"from" do |f|
      .from-btn
        .from-btn-sutamp
          = link_to root_path do
            = icon('far fa-smile', class: 'icon')
          = f.label :image, class: 'clip' do
            = icon('fas fa-paperclip', class: 'icon')
            = f.file_field :image, class: 'clip'
        = f.submit "送信", class: "from-btn-submit"
      .from-area
        = f.text_area :text, class: "from-area-input", placeholder: "メッセージ内容を入力"

-# 賛否ボタン
.message-status
  .message-status-agree
    = link_to root_path do
      .agree Agree
      = image_tag "message/red5.png", size: "60x60"
  .message-status-opposition
    = link_to root_path do
      .opposition Opposition
      = image_tag "message/blue5.png", size: "60x60"


