.talk__rightside
  .talk__rightside--time
    = render "./timer"

  .talk__rightside--title
    = link_to "" do
      = image_tag @room.image.url, class: "talk__image"
    .talk__rightside--name
      = @room.name
    .talk__rightside--description
      = @room.description