.talk-main
  = render "header"

  .all-box
    = render "left-sidebar"
    = render "modal"
    .message-box
      = render "talks"
      - if @stasu.status.present?
        = render "end_footer"
      - else
        = render "footer"
    = render "right-sidebar"