.mypage-main
  .mypage-main-box
    .follow-user
      .follow-user-title 
        .follow-user-title-follow.follow-tabs.follow-btn フォロー中
        .follow-user-title-follow.follower-tabs フォロワー

      .follow-user-main.follow-list
        - current_user.followings.each do |user|
          .follow-user-main-area
            .follow-user-main-area-image
              = link_to user_path(user.id) do
                = image_tag("#{user.image}")
            .follow-user-main-area-user
              = link_to user_path(user.id) do
                = user.username
              %div{:id => "follow_#{user.id}"}
                = render "relationships/follow_home_button", user: user
              
      .follow-user-main.follower-list.content-remove
        - current_user.followers.each do |user|
          .follow-user-main-area
            .follow-user-main-area-image
              = link_to user_path(user.id) do
                = image_tag("#{user.image}")
            .follow-user-main-area-user
              = link_to user_path(user.id) do
                .follow-user-main-area-user-name
                  = user.username
              %div{:id => "follow_#{user.id}"}
                = render "relationships/follow_home_button", user: user

