.mypage-main
  .mypage-main-box
    .info-main

      -# タイトル
      .info-main-title
        .info-main-title-text お問い合わせ
        
      .info-main-main
        =link_to "#", calss: ".info-main-main-btn" do
          .info-main-main-box
            .info-main-main-box-text 会員登録・ログインについて
            = image_tag ">.png", class: "info-main-main-box-text"
        =link_to "#", calss: ".info-main-main-btn" do
          .info-main-main-box
            .info-main-main-box-text トラブルがあった
            = image_tag ">.png", class: "info-main-main-box-text"
        =link_to "#", calss: ".info-main-main-btn" do
          .info-main-main-box
            .info-main-main-box-text 機能要望について
            = image_tag ">.png", class: "info-main-main-box-text"
        =link_to "#", calss: ".info-main-main-btn" do
          .info-main-main-box
            .info-main-main-box-text 不具合について
            = image_tag ">.png", class: "info-main-main-box-text"
        =link_to "#", calss: ".info-main-main-btn" do
          .info-main-main-box
            .info-main-main-box-text 退会したい
            = image_tag ">.png", class: "info-main-main-box-text"
        =link_to "#", calss: ".info-main-main-btn" do
          .info-main-main-box
            .info-main-main-box-text その他
            = image_tag ">.png", class: "info-main-main-box-text"



