.main__contents
  .main__contents--tabs
    %ul.tabs__list
      %li.tab__item
        ="ホーム"
      %li.tab__item
        ="あなたの部屋"
  .main__room--contents
    .main__room
      = link_to "" do
        .main__body
          .main__body--image
            = image_tag "touron_image.jpg", class: "room__image"
            .main__body--item
              %p.image__body--text
                = "日本の未来！！"
            .main__icon
              = "いいね数"
              = icon("far fa-heart", class: "icon__hart")
              = "touron数"
              = icon("far fa-comments",class: "icon")
    .main__room
      = link_to "" do
        .main__body
          .main__body--image
            = image_tag "touron_image.jpg", class: "room__image"
            .main__body--item
              %p.image__body--text
                = "日本の未来！！"
            .main__icon
              = "いいね数"
              = icon("far fa-heart", class: "icon__icons")
              = "touron数"
              = icon("far fa-comments", class: "icon__icons")
    .main__room
      = link_to "" do
        .main__body
          .main__body--image
            = image_tag "touron_image.jpg", class: "room__image"
            .main__body--item
              %p.image__body--text
                = "日本の未来！！"
            .main__icon
              = "いいね数"
              = icon("far fa-heart", class: "icon__hart")
              = "touron数"
              = icon("far fa-comments",class: "icon")
    .main__room
      = link_to "" do
        .main__body
          .main__body--image
            = image_tag "touron_image.jpg", class: "room__image"
            .main__body--item
              %p.image__body--text
                = "日本の未来！！"
            .main__icon
              = "いいね数"
              = icon("far fa-heart", class: "icon__hart")
              = "touron数"
              = icon("far fa-comments",class: "icon")