.main--mypages
  .main--mypages-contents

    -# タブ
    .main--mypages-contents-tabs
      .content-name.choice-contens 全ての部屋
      .content-name2 自分の部屋
      .content-name3 いいね部屋

    -# メインボックス
    .main--mypages-contents-main
      .content-main
        = link_to "" , class: "content-main-box" do
          .content-main-box-img
            = image_tag "img_1", class: "touron__image"
          .content-main-box-text
            .content-main-box-text-title
              .room-title ワンピース早めに終わった方がいい派？
            .content-main-box-text-contents
              .content
                = icon('far fa-heart fa-3x', class: 'icon')
                .number 76
              .content
                = icon('fas fa-user', class: 'icon')
                .number 14
        = link_to "" , class: "content-main-box" do
          .content-main-box-img
            = image_tag "img_2", class: "touron__image"
          .content-main-box-text
            .content-main-box-text-title
              .room-title 選手たちの人種差別反対行動に対し賛否両論…
            .content-main-box-text-contents
              .content
                = icon('far fa-heart fa-3x', class: 'icon')
                .number 76
              .content
                = icon('fas fa-user', class: 'icon')
                .number 14
        = link_to "" , class: "content-main-box" do
          .content-main-box-img
            = image_tag "img_3", class: "touron__image"
          .content-main-box-text
            .content-main-box-text-title
              .room-title 星野源さん動画に総理が“自宅映像”投稿
            .content-main-box-text-contents
              .content
                = icon('far fa-heart fa-3x', class: 'icon')
                .number 76
              .content
                = icon('fas fa-user', class: 'icon')
                .number 14
        = link_to "" , class: "content-main-box" do
          .content-main-box-img
            = image_tag "img_4", class: "touron__image"
          .content-main-box-text
            .content-main-box-text-title
              .room-title 戸塚ヨット体罰問題！あなたはどう思う？
            .content-main-box-text-contents
              .content
                = icon('far fa-heart fa-3x', class: 'icon')
                .number 76
              .content
                = icon('fas fa-user', class: 'icon')
                .number 14
        = link_to "" , class: "content-main-box" do
          .content-main-box-img
            = image_tag "img_5", class: "touron__image"
          .content-main-box-text
            .content-main-box-text-title
              .room-title 阿部のマスクって結局必要だったの？
            .content-main-box-text-contents
              .content
                = icon('far fa-heart fa-3x', class: 'icon')
                .number 76
              .content
                = icon('fas fa-user', class: 'icon')
                .number 14
        = link_to "" , class: "content-main-box" do
          .content-main-box-img
            = image_tag "img_6", class: "touron__image"
          .content-main-box-text
            .content-main-box-text-title
              .room-title eスポーツはオリンピックに入れるべきか？
            .content-main-box-text-contents
              .content
                = icon('far fa-heart fa-3x', class: 'icon')
                .number 76
              .content
                = icon('fas fa-user', class: 'icon')
                .number 14
        
                
      .content-main2.content-remove
        = link_to "" , class: "content-main-box" do
          .content-main-box-img
            = image_tag "img_3", class: "touron__image"
          .content-main-box-text
            .content-main-box-text-title
              .room-title 星野源さん動画に総理が“自宅映像”投稿
            .content-main-box-text-contents
              .content
                = icon('far fa-heart fa-3x', class: 'icon')
                .number 76
              .content
                = icon('fas fa-user', class: 'icon')
                .number 14
        = link_to "" , class: "content-main-box" do
          .content-main-box-img
            = image_tag "img_4", class: "touron__image"
          .content-main-box-text
            .content-main-box-text-title
              .room-title 戸塚ヨット体罰問題！あなたはどう思う？
            .content-main-box-text-contents
              .content
                = icon('far fa-heart fa-3x', class: 'icon')
                .number 76
              .content
                = icon('fas fa-user', class: 'icon')
                .number 14
    
      .content-main3.content-remove 
        - current_user.like_rooms.each do |room|
          = link_to "" , class: "content-main-box" do
            .content-main-box-img
              = image_tag "#{room.image}"
            .content-main-box-text
              .content-main-box-text-title
                .room-title 阿部のマスクって結局必要だったの？
              .content-main-box-text-contents
                .content
                  = icon('far fa-heart fa-3x', class: 'icon')
                  .number 76
                .content
                  = icon('fas fa-user', class: 'icon')
                  .number 14
