.main__contents
  .main__contents--tabs
    %ul.tabs__list
      %li.tab__item
        ="ホーム"
      %li.tab__item
        ="あなたの部屋"
  .main__room--contents
    .main__room
      = link_to "" do
        .main__body
          .main__body--image
            = image_tag "img1.jpg", class: "room__image"
            .text__area
              %p.image__body--text
                = "日本の未来！！"
            .main__icons
              = link_to "", class: "icon__left" do
                = "いいね数"
                = icon("far fa-heart", class: "icon__hart")
              = link_to "", class: "icon__left" do
                = "touron数"
                = icon("far fa-comments",class: "icon")
    .main__room
      = link_to "" do
        .main__body
          .main__body--image
            = image_tag "img1.jpg", class: "room__image"
            .text__area
              %p.image__body--text
                = "日本の未来！！"
            .main__icons
              = link_to "", class: "icon__left" do
                = "いいね数"
                = icon("far fa-heart", class: "icon__hart")
              = link_to "", class: "icon__left" do
                = "touron数"
                = icon("far fa-comments",class: "icon")
    .main__room
      = link_to "" do
        .main__body
          .main__body--image
            = image_tag "img1.jpg", class: "room__image"
            .text__area
              %p.image__body--text
                = "日本の未来！！"
            .main__icons
              = link_to "", class: "icon__left" do
                = "いいね数"
                = icon("far fa-heart", class: "icon__hart")
              = link_to "", class: "icon__left" do
                = "touron数"
                = icon("far fa-comments",class: "icon")
    .main__room
      = link_to "" do
        .main__body
          .main__body--image
            = image_tag "img1.jpg", class: "room__image"
            .text__area
              %p.image__body--text
                = "日本の未来！！"
            .main__icons
              = link_to "", class: "icon__left" do
                = "いいね数"
                = icon("far fa-heart", class: "icon__hart")
              = link_to "", class: "icon__left" do
                = "touron数"
                = icon("far fa-comments",class: "icon")