.mypage-main
  .mypage-main-box
    .my__header
      .my__header__content
        .box.line
          .box__title いいねした数
          .box__content
            .box__content-text
              = @user.likes.length
            = icon("fas fa-heart ",class: "icon")
        .box.line
          .box__title 参加TOURON数
          .box__content
            .box__content-text 
              = @talk
            = icon("fas fa-comments",class: "icon")
        .box
          .box__title フォロワーの数
          .box__content
            .box__content-text
              = @user.followers.length
            = icon("fas fa-thumbs-up",class: "icon")

    = render "main-room"



  -# = render "inquiry-mypage"




