.mypage-side
  .side
    -# ユーザー
    .side-top
      .side-top-img
        .side-top-img-box 
          = link_to mypages_path do
            =image_tag 'user'
      .side-top-name
        .name トウロン君
        .introduction こんなアカウントです。
      .side-top-follow
        .side-top-follow-box
          .box-follow フォロー中
          .box-follow フォロワー
        .side-top-follow-number
          .number-follow 20
          .number-follow 28

    -# 各種ボタン
    .side-info
      .side-info-box
        = link_to do
          .box.choice-box
            = icon('fas fa-tv', class: 'icon')
            .text ホーム
        = link_to  do
          .box 
            = icon('far fa-paper-plane', class: 'icon')
            .text 部屋を作る
        = link_to do
          .box 
            = icon('far fa-address-card', class: 'icon')
            .text プロフィール
        = link_to do
          .box 
            = icon('far fa-comment-alt', class: 'icon')
            .text お問い合わせ
        = link_to do
          .box 
            = icon('fas fa-question-circle', class: 'icon')
            .text ヘルプ
        = link_to do
          .box 
            = icon('fas fa-wrench', class: 'icon')
            .text 設定
        = link_to do
          .box 
            = icon('far fa-user-circle', class: 'icon')
            .text ログアウト
