.footer_bottom
  .footer_bottom_bar
    .footer_bottom_bar-info
      .footer_bottom_bar-info-icon
        =link_to root_path do
          = image_tag "logo.png"
        .name ©︎ TOURON.com
      .footer_bottom_bar-info-left
        .info About
        = link_to 'News','#'
        = link_to 'Contact','#'
        = link_to 'Service','#'
      .footer_bottom_bar-info-center
        .info Links
        = link_to 'Twitter','#'
        = link_to 'Facebook','#'
        = link_to 'Instaglam','#'
      .footer_bottom_bar-info-right
        .info Other service
        = link_to 'NewAppPlace','#'
        = link_to 'Apppla','#'