.header_nav-bar
  .header_nav-bar_image
    =link_to root_path do
      = image_tag("TOURON_logo.png" , class: "header_nav-bar_image-logo")
  .header_nav-bar_search
    = form_with(url: rooms_search_index_path, local: true, method: :get, class: "search-form") do |form|
      = form.text_field :name, placeholder: "ROOMを検索する", class: "search-input"
      = form.submit "検索", class: "search-btn"


  .header_nav-bar_user
    -if user_signed_in?
      = link_to mypages_path class:"user_btn" do
        =image_tag("#{@user.image}")
    -else
      = link_to "ログイン", new_user_session_path, class: "header-btn__log-in"
      = link_to "新規登録", new_user_registration_path, class: "header-btn__sign-up"
