.header_nav-bar
  .header_nav-bar_image
    =link_to root_path do
      = image_tag("TOURON_logo.jpg" , class: "header_nav-bar_image-logo")
  .header_nav-bar_search
    = search_form_for @search do |f|
      %input.header_nav-bar_search-field{:placeholder => "検索する文字を入力して下さい", :type => "text_field", :value => ""}
    = image_tag("search.jpg" , class: "header_nav-bar_search-field_image")
  .header_nav-bar_user
    -if user_signed_in?
      = link_to "マイページ", new_post_path, class: "header-btn"
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-btn"
    -else
      = link_to "ログイン", new_user_session_path, class: "header-btn"
      = link_to "新規登録", new_user_registration_path, class: "header-btn"