.main__title
  .h1 全てのカテゴリー
  .category
    -@category.each do |category|
      .category__text
        = link_to category_search_rooms_path(category_id: category.id) do
          = category.name 

-# メイン
.home-body
  .home-body__main
    - @room_random.each do |room|
      .home-body__main-body
        .home-body__main-body__left
          = link_to image_tag( "#{room.image}", class: "touron__image"), room_talks_path(room.id)
          .home-body__main-body__left__box
            .home-body__main-body__left__box__text
              = room.name
            .home-body__main-body__left__box__tags
              - if room.tag_list[0].present? #1番目のタグが存在すれば表示する。
                = link_to rooms_path(tag_name: room.tag_list[0]), class: "text-white" do
                  = room.tag_list[0]
              - if room.tag_list[1].present? #2番目のタグが存在すれば表示する。
                = link_to rooms_path(tag_name: room.tag_list[1]), class: "text-white" do
                  = room.tag_list[1]
            .home-body__main-body__left__box__likes

              -# いいねマーク
              -if user_signed_in?
                - if room.likes_by?(current_user.id)
                  = link_to likes_delete_path(id: room.id, room_id: room.id), {method: "post"} do
                    = image_tag "heart"
                - else
                  = link_to likes_create_path(id: room.id, room_id: room.id), {method: "post"} do
                    = image_tag "heart2"
              -else
                = room.likes.to_s
              -# -# いいねマーク
              -# - if room.likes_by?(current_user)
              -#   = link_to likes_delete_path(id: room.id, room_id: room.id), {method: "post"} do
              -#     = image_tag "heart"
              -# - else
              -#   = link_to likes_create_path(id: room.id, room_id: room.id), {method: "post"} do
              -#     = image_tag "heart2"

              -# 鍵マーク
              =link_to "#" do
                = image_tag "lock"

       
-# フッター
.home-footer
  .home-footer__name 新規の部屋
  .home-footer__main
    - @rooms.each do |room|
      .home-footer__main-body
        .home-footer__main-body__left
          = link_to image_tag( "#{room.image}", class: "touron__image"), room_talks_path(room.id)
          .home-footer__main-body__left__box
            .home-footer__main-body__left__box__text
              = room.name
            .home-footer__main-body__left__box__tags
              - if room.tag_list[0].present? #1番目のタグが存在すれば表示する。
                = link_to rooms_path(tag_name: room.tag_list[0]), class: "text-white" do
                  = room.tag_list[0]
              - if room.tag_list[1].present? #2番目のタグが存在すれば表示する。
                = link_to rooms_path(tag_name: room.tag_list[1]), class: "text-white" do
                  = room.tag_list[1]
            .home-footer__main-body__left__box__likes
              -# - if room.likes_by?(current_user)
              -#   = link_to likes_delete_path(id: room.id, room_id: room.id), {method: "post"} do
              -#     = image_tag "heart"
              -# - else
              -#   = link_to likes_create_path(id: room.id, room_id: room.id), {method: "post"} do
              -#     = image_tag "heart2"




              =link_to "#" do
                = image_tag "lock"

