.main__title
  .h1 全てのカテゴリー
  .categorly
    = link_to "" do
      .categorly_text エンタメ
    = link_to "" do
      .categorly_text スポーツ
    = link_to "" do
      .categorly_text マンガ
    = link_to "" do
      .categorly_text 政治
    = link_to "" do
      .categorly_text 経済
    = link_to "" do
      .categorly_text テクノロジー

.home-body
  .main
    = link_to "" do
      .main__body
        .main__body--left
          = image_tag "one.jpg", class: "touron__image"
          .main__body--left-box
            .main__body--left-box-text ワンピース早めに終わった方がいい派？
            .main__body--left-box-like
              = link_to "" do
                = image_tag "heart"

              
            

        .main__body--right
          = image_tag "oppation.png", class: "oppation__image"
          = image_tag "agree.png", class: "agree__image"
          .touron__right--contents
            = "room"
          .touron__right--box
            .touron__box--opposition
              -# 反対意見
              .touron__left--comments
                = image_tag "left_image.jpg", class: "touron__user"
                %p.touron__right--opposition
                  = "正論正論正論正論正論正論正論正論"
              .touron__left--comments
                = image_tag "left_image.jpg", class: "touron__user"
                %p.touron__right--opposition
                  = "正論正論正論正論正論正論正論正論"

              -# 賛成意見
            .touron__box--agree
              .touron__right--comments
                = image_tag "touron_backimage.jpg", class: "touron__user"
                %p.touron__right--agree
                  = "論破論破論破論破論破論破論破論破"
              .touron__right--comments
                = image_tag "touron_backimage.jpg", class: "touron__user"
                %p.touron__right--agree
                  = "論破論破論破論破論破論破論破論破"
              .touron__right--comments
                = image_tag "touron_backimage.jpg", class: "touron__user"
                %p.touron__right--agree
                  = "論破論破論破論破論破論破論破論破"
  .main
    = link_to "" do
      .main__body
        .main__body--left
          = image_tag "seizi.jpg", class: "touron__image"
          .main__body--left-box
            .main__body--left-box-text 人種差別の映像は世に流すべきかそうでないか！

        .main__body--right
          = image_tag "oppation.png", class: "oppation__image"
          = image_tag "agree.png", class: "agree__image"
          .touron__right--contents
            = "room"
          .touron__right--box
            .touron__box--opposition
              -# 反対意見
              .touron__left--comments
                = image_tag "left_image.jpg", class: "touron__user"
                %p.touron__right--opposition
                  = "正論正論正論正論正論正論正論正論"
              .touron__left--comments
                = image_tag "left_image.jpg", class: "touron__user"
                %p.touron__right--opposition
                  = "正論正論正論正論正論正論正論正論"

              -# 賛成意見
            .touron__box--agree
              .touron__right--comments
                = image_tag "touron_backimage.jpg", class: "touron__user"
                %p.touron__right--agree
                  = "論破論破論破論破論破論破論破論破"
              .touron__right--comments
                = image_tag "touron_backimage.jpg", class: "touron__user"
                %p.touron__right--agree
                  = "論破論破論破論破論破論破論破論破"
              .touron__right--comments
                = image_tag "touron_backimage.jpg", class: "touron__user"
                %p.touron__right--agree
                  = "論破論破論破論破論破論破論破論破"

.home-footer
  .home-footer-name 新規の部屋
  .home-footer-contents
    = link_to "" do
      .contents.fist
        = image_tag "img1.jpg"
        .text-area
          .text-area-text 働き方改革はこの方針でいいのか？
    = link_to "" do
      .contents
        = image_tag "img2.jpg"
        .text-area
          .text-area-text コロナの影響で9月入学は早い？
    = link_to "" do
      .contents
        = image_tag "img3.jpg"
        .text-area
          .text-area-text 転売ヤーは滅亡するべきか？
    = link_to "" do
      .contents
        = image_tag "img4.jpg"
        .text-area
          .text-area-text 鬼滅の刃は終わるのが早かった？
    = link_to "" do
      .contents.last
        = image_tag "img5.jpg"
        .text-area
          .text-area-text 甲子園の中止決断は早すぎる？

