.main__title
  %p.main__title--text
    = "room"
.main
  = link_to "" do
    .main__body
      .main__body--left
        = image_tag "touron_image.jpg", class: "touron__image"
        %p.image__text
          = "日本の未来！！"
      .main__body--right
        .touron__right--contents
          = "TouRon"
        .touron__right--box
          .touron__box--agree
            %h2.touron__left
              = "賛成"
              -# 賛成コメント
            .touron__left--comments
              = image_tag "left_image.jpg", class: "touron__user"
            %p.touron__right--agree
              = "正論正論正論正論"
            .touron__left--comments
              = image_tag "left_image.jpg", class: "touron__user"
            %p.touron__right--agree
              = "正論正論正論正論正論正論正論正論"
          .touron__box--opposition
            %h2.touron__right
              = "反対"
              -# 反対コメント
            .touron__right--comments
              = image_tag "touron_backimage.jpg", class: "touron__user"
              %p.touron__right--opposition
                = "論破論破論破論破論破論破論破論破"
            .touron__right--comments
              = image_tag "touron_backimage.jpg", class: "touron__user"
              %p.touron__right--opposition
                = "論破論破論破論破"
.main
  = link_to "" do
    .main__body
      .main__body--left
        = image_tag "touron_image.jpg", class: "touron__image"
        %p.image__text
          = "日本の未来！！"
      .main__body--right
        .touron__right--contents
          = "TouRon"
        .touron__right--box
          .touron__box--agree
            %h2.touron__left
              = "賛成"
              -# 賛成コメント
            .touron__left--comments
              = image_tag "left_image.jpg", class: "touron__user"
            %p.touron__right--agree
              = "正論正論正論正論"
            .touron__left--comments
              = image_tag "left_image.jpg", class: "touron__user"
            %p.touron__right--agree
              = "正論正論正論正論正論正論正論正論"
          .touron__box--opposition
            %h2.touron__right
              = "反対"
              -# 反対コメント
            .touron__right--comments
              = image_tag "touron_backimage.jpg", class: "touron__user"
              %p.touron__right--opposition
                = "論破論破論破論破論破論破論破論破"
            .touron__right--comments
              = image_tag "touron_backimage.jpg", class: "touron__user"
              %p.touron__right--opposition
                = "論破論破論破論破"
.main
  = link_to "" do
    .main__body
      .main__body--left
        = image_tag "touron_image.jpg", class: "touron__image"
        %p.image__text
          = "日本の未来！！"
      .main__body--right
        .touron__right--contents
          = "TouRon"
        .touron__right--box
          .touron__box--agree
            %h2.touron__left
              = "賛成"
              -# 賛成コメント
            .touron__left--comments
              = image_tag "left_image.jpg", class: "touron__user"
            %p.touron__right--agree
              = "正論正論正論正論"
            .touron__left--comments
              = image_tag "left_image.jpg", class: "touron__user"
            %p.touron__right--agree
              = "正論正論正論正論正論正論正論正論"
          .touron__box--opposition
            %h2.touron__right
              = "反対"
              -# 反対コメント
            .touron__right--comments
              = image_tag "touron_backimage.jpg", class: "touron__user"
              %p.touron__right--opposition
                = "論破論破論破論破論破論破論破論破"
            .touron__right--comments
              = image_tag "touron_backimage.jpg", class: "touron__user"
              %p.touron__right--opposition
                = "論破論破論破論破"
.main
  = link_to "" do
    .main__body
      .main__body--left
        = image_tag "touron_image.jpg", class: "touron__image"
        %p.image__text
          = "日本の未来！！"
      .main__body--right
        .touron__right--contents
          = "TouRon"
        .touron__right--box
          .touron__box--agree
            %h2.touron__left
              = "賛成"
              -# 賛成コメント
            .touron__left--comments
              = image_tag "left_image.jpg", class: "touron__user"
            %p.touron__right--agree
              = "正論正論正論正論"
            .touron__left--comments
              = image_tag "left_image.jpg", class: "touron__user"
            %p.touron__right--agree
              = "正論正論正論正論正論正論正論正論"
          .touron__box--opposition
            %h2.touron__right
              = "反対"
              -# 反対コメント
            .touron__right--comments
              = image_tag "touron_backimage.jpg", class: "touron__user"
              %p.touron__right--opposition
                = "論破論破論破論破論破論破論破論破"
            .touron__right--comments
              = image_tag "touron_backimage.jpg", class: "touron__user"
              %p.touron__right--opposition
                = "論破論破論破論破"
.main
  = link_to "" do
    .main__body
      .main__body--left
        = image_tag "touron_image.jpg", class: "touron__image"
        %p.image__text
          = "日本の未来！！"
      .main__body--right
        .touron__right--contents
          = "TouRon"
        .touron__right--box
          .touron__box--agree
            %h2.touron__left
              = "賛成"
              -# 賛成コメント
            .touron__left--comments
              = image_tag "left_image.jpg", class: "touron__user"
            %p.touron__right--agree
              = "正論正論正論正論"
            .touron__left--comments
              = image_tag "left_image.jpg", class: "touron__user"
            %p.touron__right--agree
              = "正論正論正論正論正論正論正論正論"
          .touron__box--opposition
            %h2.touron__right
              = "反対"
              -# 反対コメント
            .touron__right--comments
              = image_tag "touron_backimage.jpg", class: "touron__user"
              %p.touron__right--opposition
                = "論破論破論破論破論破論破論破論破"
            .touron__right--comments
              = image_tag "touron_backimage.jpg", class: "touron__user"
              %p.touron__right--opposition
                = "論破論破論破論破"