= render "header"

.tag-search
  .tag-search__name
    = "#{params[:search]}"
    の検索結果一覧
  .tag-search__main
    - @rooms.each do |room|
      .tag-search__main-body
        .tag-search__main-body__left
          = image_tag "#{room.image}", class: "touron__image"
          .tag-search__main-body__left__box
            .tag-search__main-body__left__box__text
              = room.name
            .tag-search__main-body__left__box__tags
              - if room.tag_list[0].present? #1番目のタグが存在すれば表示する。
                = link_to rooms_path(tag_name: room.tag_list[0]), class: "text-white" do
                  = room.tag_list[0]
              - if room.tag_list[1].present? #2番目のタグが存在すれば表示する。
                = link_to rooms_path(tag_name: room.tag_list[1]), class: "text-white" do
                  = room.tag_list[1]
            .tag-search__main-body__left__box__likes
              =link_to "#" do
                = image_tag "heart2"
              =link_to "#" do
                = image_tag "lock"
              
= render "footer"