.login-box
  .logo
    = image_tag("TOURON_logo-cutout.png", class:"top__image__1__photo",size:"400x110")
  .login-box__container
    .form-login-box
      = form_with model: @user, url: user_session_path, id: "new_user", class: "new_user", local: true do |f|
        %h2 Login
        .field
          = f.email_field :email, autofocus: true, placeholder: "email" 
        .field
          = f.password_field :password, autocomplete: "off", placeholder: "password"
        -# - if devise_mapping.rememberable?
        .field
          = f.label :パスワードを記録する
          = f.check_box :remember_me
          = f.submit "" , class: "login-submit" #valueを空に
  .link-box
    .link-top
      %span パスワードをお忘れですか？  再設定は
      = link_to "こちら", ""
      %span から
    .link-under
      %span 登録がお済みでない方は
      = link_to "今すぐ作成", ""