.container
  .container__top
    パスワード
  .container__text
    新しいログインパスワードを設定します
    %br
    すべての項目を入力し、更新ボタンをクリックしてください。
  .form-bg
    = form_with model: @user, url: "#", id: "#", class: "#", local: true do |f|
      %h2 パスワード更新
      .field
        .field__password
          .field__password__label
            現在のパスワード
          .field__password__require
            必須
          = f.password_field :nowpassword,placeholder: "7文字以上の半角英数字"
      .field
        .field__password
          .field__password__label
            新しいパスワード
          .field__password__require
            必須
          = f.password_field :nowpassword,placeholder: "7文字以上の半角英数字"
      .field
        .field__password
          .field__password__label
            新しいを再入力パスワード
          .field__password__require
            必須
          = f.password_field :nowpassword,placeholder: "7文字以上の半角英数字"
      .field__submit
        = f.submit "更新" ,class: "submit_btn"
  .footer
    =link_to image_tag("TOURON_logo.jpg", width:"180px", height:"80px")  