!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TOURON
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/green/pace-theme-center-atom.min.css", :rel => "stylesheet"}/
    = csrf_meta_tags
    = csp_meta_tag
    = include_gon
    = favicon_link_tag("favicon.ico")
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield

    
